name: Build

on:
    push:
        branches: [master]

jobs:
    build:
        runs-on: macos-latest
        steps:
        -   name: Checkout
            uses: actions/checkout@v2
        -   name: Build
            run: swift build
